.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff; /* 배경색은 필요에 따라 조정 */
  z-index: 1000; /* Navbar와 겹치지 않도록 적절한 z-index 설정 */
  padding: 10px 0; /* 푸터 내용에 따라 적절한 padding 설정 */
  text-align: center; /* 푸터 내용을 가운데 정렬 */
}

.navbar {
  position: fixed; /* 혹은 필요에 따라 sticky 등으로 설정 */
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff; /* 배경색은 필요에 따라 조정 */
  z-index: 1000; /* 다른 요소보다 높은 값으로 설정 */
}

.slideshow-container {
  width: 100%;
  height: 100vh; /* 화면 전체 높이 */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.slideshow-image {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  object-fit: cover; /* 이미지의 비율을 유지하면서 화면에 맞춤 */
  transition: opacity 1s ease-in-out; /* 부드러운 전환 효과 */
}

.react-calendar {
  width: 100%;
  max-width: 100%;
  background: white;
  border: 1px solid #68737d;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.125em;
  font-size: 12px;
  border-radius: 10px;
  padding: 20px;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
  background-color: white;
  border-bottom: 1px solid #68737d;
}

.react-calendar__navigation__label {
  font-size: 14px;
  font-weight: 500;
}

.react-calendar__navigation__arrow {
  font-size: 18px;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__month-view__weekdays__weekday abbr {
  font-size: 12px;
  font-weight: 400;
  text-decoration: none !important;
  color: #152348;
  border-bottom: 1px solid #68737d;
}

.react-calendar__navigation button:disabled {
  background-color: white;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
  border-radius: 50%;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
  font: inherit;
  font-size: 0.833em;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__tile--now {
  text-decoration: underline;
  background-color: #ffce8477;
}

.react-calendar__tile--now:hover {
  color: #c78390 !important;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #c78390;
  color: #fafafa;
}

.react-calendar__tile--hasActive {
  background: #c78390;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #c78390;
}

.react-calendar__tile--active {
  background: #c78390 !important;
  color: white;
}

.react-calendar__tile--active:active {
  background: #c78390 !important;
  color: white;
}

/* 각 날짜의 Size */
.react-calendar__tile {
  width: 44px;
  height: 44px;
  box-sizing: border-box; 
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #c78390;
  color: white;
}
.react-calendar__tile:disabled {
  background-color: white;
  text-decoration: line-through;
  color: #e6e6e6;
}

.react-calendar__tile:disabled:hover {
  border: none;
  background-color: transparent;
  color: black;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #ffb88c;
}

.react-calendar__tile:hover {
  border: 1px solid #c78390;
  color: black !important;
  background: white !important;
}

.react-calendar__navigation__label {
  touch-action: none;
  pointer-events: none;
  font-weight: 500;
}

.custom_overlay {
  @apply bg-white rounded-full px-2 py-1 text-xs font-semibold border border-gray-300 shadow hover:shadow-lg hover:font-bold;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: #fff;
  opacity: 0.6;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  color: black !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1.1rem !important;
  font-weight: 600 !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
